<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link href="{{ base_url }}/assets/frappe/css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{{ base_url }}/assets/frappe/css/font-awesome.css" />
    <meta name="pdfkit-orientation" content="landscape" />
</head>
<style>
    body {
        font-family: Tahoma, Geneva, Verdana, sans-serif;
        font-size: 11px;
    }

    table {
        width: 100%;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

    .text-right {
        text-align: right;
    }

    .text-bold {
        font-weight: bold;
        border-top: 1px solid #cccccc;
    }

    .sub-heading {
        background-color: #efefef;
        font-weight: bold;
        padding: 5px 15px;
    }

    .total {
        background-color: #efefef;
    }
</style>

{% set groups = ("SCHEDULE F [NJ SAMPLES]", "NJ SALES TAXABLE", "SCHEDULE C - [NJ SALES NO TAX]", "NJ SAMPLE EXCLUDED [TOTAL_SALES]", "INTERNATIONAL SALES")%}

<body>
    <!-- <p class="text-center small page-number visible-pdf" style="float:right">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p> -->
    <center>
        <h2>{{docname}}</h2>
    </center>
    {% for g in groups %}
    <div style="page-break-after:always;">
        <table class="table table-bordered">
            <colgroup>
                <col style="width:9%;">
                <col style="width:9%;">
                <col style="width:15%;">
                <col style="width:15%;">
                <col style="width:8%;">
                <col style="width:4%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="11" class="sub-heading">{{g}}</td>
                </tr>
                <tr>
                    <th>Invoice Date</th>
                    <th>Invoice</th>
                    <th>Customer Profile</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th class="text-right">Tobacco Gross Total</th>
                    <th class="text-right">WGT.KG</th>
                    <th class="text-right">WGT.LB</th>
                    <th class="text-right">Tobacco Tax</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data | selectattr("grp", "eq", g) %}
                <tr>
                    <td>{{ d.invoice_date }}</td>
                    <td>{{ d.invoice }}</td>
                    <td>{{ d.customer_profile }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.city }}</td>
                    <td>{{ d.state }}</td>
                    <td>{{ d.country }}</td>
                    <td class="text-right">{{ d.tobacco_gross_total }}</td>
                    <td class="text-right">{{ d.weight_kg }}</td>
                    <td class="text-right">{{ d.weight_lb }}</td>
                    <td class="text-right">{{ d.tobacco_tax_amt }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-bold text-right">Total</td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold text-right">
                        {{ data |selectattr("grp", "eq", g)| sum(attribute = "tobacco_gross_total") | round(2,"common") }}
                    </td>
                    <td class="text-bold text-right">
                        {{ data |selectattr("grp", "eq", g)| sum(attribute = "weight_kg") | round(2,"common")}}</td>
                    <td class="text-bold text-right">
                        {{ data |selectattr("grp", "eq", g)| sum(attribute = "weight_lb") | round(2,"common")}}</td>
                    <td class="text-bold text-right">
                        {{ data |selectattr("grp", "eq", g)| sum(attribute = "tobacco_tax_amt") | round(2,"common")}}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

    <div style="page-break-after:always;">
        <table class="table table-bordered">
            <colgroup>
                <col style="width:9%;">
                <col style="width:9%;">
                <col style="width:15%;">
                <col style="width:15%;">
                <col style="width:8%;">
                <col style="width:4%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
                <col style="width:8%;">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="11" class="sub-heading">STATEWISE</td>
                </tr>
                <tr>
                    <th>Invoice Date</th>
                    <th>Invoice</th>
                    <th>Customer Profile</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th class="text-right">Tobacco Gross Total</th>
                    <th class="text-right">WGT.KG</th>
                    <th class="text-right">WGT.LB</th>
                    <th class="text-right">Tobacco Tax</th>
                </tr>
            </thead>
            <tbody>
                {% for state, items in data | selectattr("grp", "eq", "NON-NJ STATEWISE SALES") | groupby("state") %}
                <tr>
                    <td colspan="11">{{state}}</td>
                </tr>
                {% for d in items %}
                <tr>
                    <td>{{ d.invoice_date }}</td>
                    <td>{{ d.invoice }}</td>
                    <td>{{ d.customer_profile }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.city }}</td>
                    <td>{{ d.state }}</td>
                    <td>{{ d.country }}</td>
                    <td class="text-right">{{ d.tobacco_gross_total }}</td>
                    <td class="text-right">{{ d.weight_kg }}</td>
                    <td class="text-right">{{ d.weight_lb }}</td>
                    <td class="text-right">{{ d.tobacco_tax_amt }}</td>
                </tr>
                {% endfor %}
                <tr class="total">
                    <td class="text-bold text-right">Total {{state}}</td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold"></td>
                    <td class="text-bold text-right">
                        {{ items| sum(attribute = "tobacco_gross_total") | round(2,"common") }}
                    </td>
                    <td class="text-bold text-right">
                        {{ items | sum(attribute = "weight_kg") | round(2,"common")}}</td>
                    <td class="text-bold text-right">
                        {{ items | sum(attribute = "weight_lb") | round(2,"common")}}</td>
                    <td class="text-bold text-right">
                        {{ items | sum(attribute = "tobacco_tax_amt") | round(2,"common")}}</td>
                </tr>
                <tr>
                    <td colspan="11">&nbsp;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--  -->
    <div>
        <table class="table table-bordered" style="width: 25%;">
            <colgroup>
                <col style="width:50%;">
                <col style="width:50%;">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="11" class="sub-heading">Total Tobacco Taxes Per State</th>
                </tr>
                <tr>
                    <th>State</th>
                    <th class="text-right">Tobacco Tax</th>
                </tr>
            </thead>
            <tbody>
                {% for state, items in data | selectattr("grp", "in", ["NON-NJ STATEWISE SALES", "NJ SALES TAXABLE"]) | groupby("state") %}
                <tr>
                    <td>{{state}}</td>
                    <td class="text-right">
                        {{ items | sum(attribute = "tobacco_tax_amt") | round(2,"common")}}</td>
                </tr>
                {% endfor %}
                <tr class="total">
                    <td class="text-bold">Total</td>
                    <td class="text-bold text-right">
                        {{ data | selectattr("grp", "eq", "NON-NJ STATEWISE SALES") | sum(attribute = "tobacco_tax_amt") | round(2,"common") }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>